{{> head }}

{{> navbar }}
    
      <div class="row">
          <div class="col-8">
              <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ducimus perferendis dignissimos molestias aspernatur rem voluptatum maiores fuga nostrum veniam, accusantium iste tempore consectetur porro ipsa accusamus, voluptatem amet atque?</h1>
          </div>
          <div class="col-4">
              <img class="img-thumbnail" src="assets/img/dog.jpeg" alt="perrito" >
          </div>

        
      </div>
      
{{> footer }}